[submodule "Engine/Vendor/spdlog"]
	path = Engine/Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/Vendor/GLFW"]
	path = Engine/Vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Engine/Vendor/imgui"]
	path = Engine/Vendor/imgui
	url = https://github.com/TheCherno/imgui.git
